@media screen and (min-width:560px) and (max-width:768px){

    .menu{
        width: 100%;
     
        background-color: aquamarine;
        & nav{
            width: 100%;
        
            & div{
                width: 20%;
                height: 50px;
                background-color: rgb(97, 64, 128);
              
                margin-right: 15px;
                & a{
                    display: block;
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                    line-height: 50px;
    
                }
            }
        }
    }
    }